.invis {
	display: none;
<<<<<<< HEAD
}

.tableHeader {
	left: 20%;
=======

}

.tableHeader {
	
>>>>>>> bad87a18e91ae073ca9786c638e84e14fb008933
}

.spaceUnder {
  text-align: center;
<<<<<<< HEAD
  padding-top: 10px;
  padding-bottom: 10px;
  border: 1px solid black;
=======
  padding-top: 1em;
  padding-bottom: 1em;
  border: 1px solid black;
  200px
>>>>>>> bad87a18e91ae073ca9786c638e84e14fb008933
}

.tabelTitel {
	border: 1px solid black;
<<<<<<< HEAD
    width: 18%;
=======
	width: 200px;
>>>>>>> bad87a18e91ae073ca9786c638e84e14fb008933
}

.tabelPrijs {
	border: 1px solid black;
<<<<<<< HEAD
    width: 18%;
=======
	width: 200px;
>>>>>>> bad87a18e91ae073ca9786c638e84e14fb008933
}

.tabelAdres {
	border: 1px solid black;
<<<<<<< HEAD
    width: 18%;
=======
	width: 200px;
>>>>>>> bad87a18e91ae073ca9786c638e84e14fb008933
}

.tabelPostcode {
	border: 1px solid black;
<<<<<<< HEAD
    width: 18%;
=======
	width: 200px;
>>>>>>> bad87a18e91ae073ca9786c638e84e14fb008933
}

.tabelPlaatsnaam {
	border: 1px solid black;
<<<<<<< HEAD
    width: 18%;

=======
	width: 200px;
>>>>>>> bad87a18e91ae073ca9786c638e84e14fb008933
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial;
    overflow: auto;
<<<<<<< HEAD
    background-color: #e5e5e5;

=======
>>>>>>> bad87a18e91ae073ca9786c638e84e14fb008933
}
header {
	height: 80px;
}
nav {
  background-color: #333;
  overflow: hidden;

}

<<<<<<< HEAD
.navul {
=======
ul {
>>>>>>> bad87a18e91ae073ca9786c638e84e14fb008933
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
<<<<<<< HEAD
  margin-left: 13%;
}

.navli {
  float: left;
  width: 16%;
=======
  margin-left: 18.5%;
}

li {
  float: left;
  width: 15%;
>>>>>>> bad87a18e91ae073ca9786c638e84e14fb008933
  height: 5%;
  list-style-type: none;
  display: inline-block;
  font-weight: bold;
}

li a {
  display: block;
  color: #00A651;
  text-align: center;
  text-decoration: none;
  font-size: 34px;
  margin-top: 5%;
  padding: 15px 0px;
}

li a:hover {
  color: orange;
  scale: 1.1;
}

.li {
<<<<<<< HEAD
=======
	position: absolute;
>>>>>>> bad87a18e91ae073ca9786c638e84e14fb008933
	top: -50%;
}

.logo {
	width: 30%;
<<<<<<< HEAD
	scale: 2.5;

}

.adminpanform {
    position: absolute;
    top: 14%;
    width: 50%;
    max-width: 700px;
    margin: 0 auto;
    left: 50%;
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    height: auto;
    transform: translateX(-50%);
    float: right;
}


.adminpanbtn {
    width: 100%;
    margin-bottom: 15px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
label {
	display: block;
	text-align: center;
	font-weight: normal;
}
input[type="file"] {
	display: none;
}

.adminpanbtn {
    background-color: #4caf50;
    color: white;
    border: none;
    cursor: pointer;
}

.adminpanbtn:hover {
    background-color: #45a049;
}

.ul {
    list-style: none;
    padding: 0;
    text-align: center;

}

.li {
    margin-bottom: 5px;
    text-align: center;
}

.labelimage {
    font-weight: bold;
}

.adminpaninput {
    text-align: center;
    width: 100%;
    margin-bottom: 15px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.buttonAdmin {
	position: relative;
	top: 65px;
	background-color: #333;
	color: #00A651;
	padding: 10px 10px;
	left: 15%;
	border-radius: 10px;
	width: auto;

}


.buttonAdmin:hover{
  color: orange;
  scale: 1.1;
}

label {
	display: block;
	text-align: center;
	font-weight: normal;
	    text-align: center;
    width: 100%;
    margin-bottom: 15px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

#formadd{
	display: none;
}

#houselist {
    position: relative;
    display: none;
    left: 30%;
    width: 60%;
    top: 14%;
}
.aboutdiv {
    display: block;
    background-color: white;
    border: 2px solid black;
    position: relative;
    width: 65%;
    padding: 1em 1em;
    left: 50%;
    margin-top: 100px;
    transform: translateX(-50%);
    height: auto;
}

.aboutlogo{
    float: left;
    width: 25%;
}
.abouttext {
    margin-left: 30%;
}

=======
	scale: 1.5;
}
>>>>>>> bad87a18e91ae073ca9786c638e84e14fb008933
